<nz-breadcrumb>
  <nz-breadcrumb-item routerLink="/register">
    <a>register</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/inputDemo">
    <a>input</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/grid">
    <a>grid</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/numInput">
    <a>numInput</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/timePicker">
    <a>timePicker</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/chart">
    <a>charts</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/modal">
    <a>modal</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/directive">
    <a>directive</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/table">
    <a>table</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/layout">
    <a>layout</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<br>
<br>
<br>
<router-outlet></router-outlet>
