<nz-layout style="height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'"triggerTemplate [nzWidth]="256">
    <nz-header class="brand">
      后台管理系统
    </nz-header>
    <app-menus [isCollapsed]="isCollapsed"></app-menus>
  </nz-sider>
  <nz-layout>
    <nz-header fxLayout="row" style="background: #fff; padding: 0;">
      <i nz-icon class="trigger" [type]="isCollapsed?'menu-unfold':'menu-fold'" theme="outline" (click)="isCollapsed=!isCollapsed"></i>
      <div fxFlex="auto"></div>
      <div class="left-area">
        <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
          <div nz-dropdown class="dropdown-trigger">
            <nz-avatar nzIcon="user" nzSize="middle" nzShape="circle"></nz-avatar>
            <span style="margin-left: 8px;">{{userService.info?.username }}</span>
          </div>
          <ul nz-menu nzSelectble>
            <li nz-menu-item (click)="onShowEditor()">
              <i nz-icon type="key" theme="outline" style="margin-right: 8px;"></i>修改密码
            </li>
            <li nz-menu-item (click)="logout()">
              <i nz-icon type="logout" theme="outline" style="margin-right: 8px;"></i>退出登录
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </nz-header>
    <nz-layout style="overflow: auto; background-color: transparent;">
      <nz-content>
        <router-outlet></router-outlet>
        <nz-footer style="text-align: center;">
            ©2018 By johenrre
        </nz-footer>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

<ng-template #trigger>
  <i nz-icon [type]="'menu-fold'" theme="outline"></i>
</ng-template>

<nz-modal [nzVisible]="isvisibleEditor" [nzMaskClosable]="false" nzTitle="修改密码" [nzMaskClosable]="true" (nzOnCancel)="onHideEditor()" (nzOnOk)="onQueryEditor()">
  <form [formGroup]="formEditor" nz-form>
    <nz-form-item>
      <nz-form-label nzSpan="6" nzRequired>旧密码</nz-form-label>
      <nz-form-control nzSpan="18">
        <input nz-input formControlName="oldPassword" type="password">
        <nz-form-explain *ngIf="formEditor.get('oldPassword').dirty && formEditor.get('oldPassword').errors">
          <ng-container *ngIf="formEditor.get('oldPassword').hasError('required')">
            不能为空
          </ng-container>
          <ng-container *ngIf="formEditor.get('oldPassword').hasError('minlength')">
            不能少于8个字符
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="6" nzRequired>新密码</nz-form-label>
      <nz-form-control nzSpan="18">
        <input nz-input type="password" formControlName="newPassword" (ngModelChange)="updateConfirmValidator()">
        <nz-form-explain *ngIf="formEditor.get('newPassword').dirty && formEditor.get('newPassword').errors">
          <ng-container *ngIf="formEditor.get('newPassword').hasError('required')">
            不能为空
          </ng-container>
          <ng-container *ngIf="formEditor.get('newPassword').hasError('minlength')">
            不能少于8个字符
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="6" nzRequired>确认密码</nz-form-label>
      <nz-form-control nzSpan="18">
        <input nz-input type="password" formControlName="checkPassword">
        <nz-form-explain *ngIf="formEditor.get('checkPassword').dirty && formEditor.get('checkPassword').errors">
          <ng-container *ngIf="formEditor.get('checkPassword').hasError('required')">
            不能为空
          </ng-container>
          <ng-container *ngIf="formEditor.get('checkPassword').hasError('confirm')">
            二次密码不相同
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
